@tailwind base;
@tailwind components;
@tailwind utilities;

#home {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  #home {
    background-image: url("/assets/home/background-home-mobile.jpg");
  }
}

#destination {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  #destination {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
  }
}

#crew {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  #crew {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
  }
}

#technology {
  background-image: url("/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  #technology {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }
}

.crew-image {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}
